<div class="share" style="width: 100%;">
  <img src="https://s1.ax1x.com/2023/09/07/pPyPgYD.png" alt="南山忆" style="margin: auto; display: block;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">南山忆 | noe.zone</div>
  
</div>
